image: docker:latest

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""

  IMAGE_NAME: {{ image_name }}
  NEXUS_REGISTRY: {{ nexus_registry }}
  NEXUS_REPOSITORY: {{ nexus_repository }}
  REGISTRY_URL: {{ registry_url }}
  REGISTRY_NAMESPACE: {{ registry_namespace }}
  DOCKER_USERNAME: {{ docker_username }}
  DOCKER_PASSWORD: {{ docker_password }}

services:
  - docker:dind

stages:
  - build
  - test
  - quality
  - build-push-docker-image
  - push-artifacts-to-nexus
  - push-deploy-to-nexus
  - prepare
  - build-helm-chart
  - deploy-helm-chart

build:
  stage: build
  image: maven:3.6-jdk-11
  script:
    - mvn clean package
  artifacts:
    paths:
      - target/app1-1.0.0.jar

test:
  stage: test
  image: maven:3.6-jdk-11
  script:
    - mvn test
  artifacts:
    paths:
      - target/surefire-reports/

quality:
  stage: quality
  image: sonarsource/sonar-scanner-cli:latest
  script:
    - mvn clean verify sonar:sonar -Dsonar.host.url={{ sonar_host_url }} -Dsonar.projectKey={{ sonar_project_key }} -Dsonar.java.binaries=target/classes -Dsonar.login={{ sonar_login }}
    - chmod +x build-breaker.sh
    ### below line you can uncomment if you want to run buildbreaker
    #- ./build-breaker.sh

build-push-docker-image:
  stage: build-push-docker-image
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD $NEXUS_REGISTRY/repository/$NEXUS_REPOSITORY/
    - docker build -t $IMAGE_NAME .
  artifacts:
    paths:
      - $CI_PROJECT_DIR/Dockerfile
    expire_in: 1 week

push-artifacts-to-nexus:
  stage: push-artifacts-to-nexus
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD $NEXUS_REGISTRY/repository/$NEXUS_REPOSITORY/
    - docker tag $IMAGE_NAME $NEXUS_REGISTRY/repository/$NEXUS_REPOSITORY/$IMAGE_NAME
    - docker push $NEXUS_REGISTRY/repository/$NEXUS_REPOSITORY/$IMAGE_NAME

build-helm-chart:
  stage: build-helm-chart
  script:
    - export KUBECONFIG=~/.kube/config
    - sudo kubectl get nodes
    - sudo helm package charts/
    - sudo curl -u admin:admin123 {{ nexus_registry }}/repository/myhelmrepo/ --upload-file deploy-0.1.0.tgz

deploy-helm-chart:
  stage: deploy-helm-chart
  script:
    #-  update values.yaml --image name and replicas
    - export KUBECONFIG=~/.kube/config
    #- sudo helm upgrade --install my-release {{ helm_chart_repo }}/deploy-0.1.0.tgz --set image.repository=${DOCKER_REGISTRY}/${DOCKER_REGISTRY_NAMESPACE}/app1,image.tag=${CI_COMMIT_SHORT_SHA}
    - sudo helm upgrade --install my-release {{ helm_chart_repo }}/deploy-0.1.0.tgz
